/**
  Нормализация блочной модели
 */
*,
::before,
::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

:where(address[class]) {
    font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    height: 100%;
    /**
      Убираем скачок интерфейса по горизонтали
      при появлении / исчезновении скроллбара
     */
    /*scrollbar-gutter: stable;*/
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
      Пригодится в большинстве ситуаций
      (когда, например, нужно будет "прижать" футер к низу сайта)
     */
    min-height: 100%;
    /**
      Унифицированный интерлиньяж
     */
    line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
    display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
    cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] { fill: currentColor }
[stroke] { stroke: currentColor }

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Global Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/web page/background/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* Style autofill fields so they remain transparent */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important;
    background-clip: text !important;
    background-color: transparent !important;
    color: #000 !important;
}


/* Profile Container */
.profile-container {
    position: relative;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    max-width: 100%;
    min-height: 500px;
    padding: 20px;
}

/* Card */
.home-card {
    display: flex;
    position: relative;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 600px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    max-width: 100%;
    min-height: 500px;
}

/* Profile Info */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-info h1,
.profile-info h2 {
    color: #000;
    margin: 10px 0;
}

.profile-info img {
    border-radius: 50%;
    margin: 20px 0;
}

.profile-info p {
    color: #000;
    margin: 10px 0;
}

/* Page List */
.page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.page a {
    color: #3498db;
    text-decoration: none;
}

/* Action Buttons */
.actions-pages {
    display: flex;
    align-items: center;
}

.actions-pages button {
    background-color: #f54254;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.create-page-btn {
    background-color: rgb(202, 73, 214);
    color: #fff;
    font-size: 12px;
    padding: 8px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.logout-btn {
    background-color: #f54254;
    color: #fff;
    font-size: 12px;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}

/* Form Page */
.form-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-page label,
.form-page input,
.form-page textarea,
.form-page select {
    width: 80%;
    margin-bottom: 10px;
}

.label-title,
.label-content {
    padding-right: 20px;
}

.form-page input,
.form-page textarea,
.form-page select {
    background-color: transparent;
    border: 1px solid #ba52d1;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 10px;
    outline: none;
    color: #000;
}

.form-page textarea {
    resize: none;
    overflow: hidden;
}

.form-page select {
    border: 1px solid #ba52d1;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 10px;
    outline: none;
    color: #000;
}

/* Login and Register Forms */
.login,
.register {
    display: flex;
    position: relative;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    max-width: 100%;
    min-height: 500px;
}

.register {
    min-height: 600px;
}

.container span {
    font-size: 12px;
}

.icon {
    text-decoration: none;
    color: #333;
    margin: 15px 0 10px;
}

.login form,
.register form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container .register-login-btn {
    background-color: rgb(202, 73, 214);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container .label-login,
.container .label-register {
    width: 50%;
}

.container .login-input,
.container .register-input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ba52d1;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 15px;
    outline: none;
}

.sign-in,
.sign-up {
    align-items: center;
    width: 100%;
}

.icons {
    margin: 20px 0;
}

.icons a {
    border: 1px solid #918494;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.container p {
    font-size: 12px;
    margin: 20px 0 0;
}

h1 {
    margin: 5px;
}

.link-to-register {
    color: #3498db;
    text-decoration: none;
}

.msg-success {
    color: green;
    margin-top: 5px;
}

.msg-error {
    color: red;
}

/* Styles for the file selection button */
.file-upload {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 15px;
    outline: none;
    background-color: transparent;
    border: 1px solid #ba52d1;
    color: #918494;
    cursor: pointer;
    text-align: start;
    transition: all 0.3s ease;
}

.file-upload:hover {
    background-color: #ba52d1;
    color: white;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.file-upload.loaded {
    opacity: 0.5;
    background-color: #dcdcdc;
    color: #555;
}







