*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background: linear-gradient(40deg, #423189, #53377A, #660099, #8000FF,#512da8, #cccccc 50%);
    background-size: 150% 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /*animation: color 50s ease-in-out infinite;*/
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 560px;
}

.card{
    margin: 0 auto;
    padding: 4px;
    width: 800px;
    text-align: center;
    border-radius: 30px;
    position: relative;
}

.actions-pages{
    flex-direction: column;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),  #CD00CD, #DDA0DD, #E6A8D7, #9D81BA, #C364C5);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 35px;
    animation: 3s spin linear infinite;
}

.card::before{
    filter: blur(1.5rem);
    opacity: 10;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

/*.container p{*/
/*    font-size: 14px;*/
/*    line-height: 20px;*/
/*    letter-spacing: 1px;*/
/*    margin: 20px 0;*/
/*}*/

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 250px;
    height: 100%;
    width: 100%;
}

.container label{
    width: 80%;
}

.container input{
    width: 100%;
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    outline: none;
}


.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    align-items: center;
    width: 100%;
    z-index: 2;
}

.icons{
    margin: 20px 0;
}

.icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.container p{
    font-size: 12px;
    margin: 15px 0 0;
    color: #333;
}

.container .link {
    color: #3498db;
    text-decoration: none;
}

.container .msg-success {
    color: green;
    margin-top: 10px;
}

.container .msg-error {
    color: red;
    margin-top: 10px;
}



